<div class="nameforge-content">
  {{#if actor}}
  <p data-tooltip="{{localize 'NAMEFORGE.INFO.generators'}}">{{localize 'NAMEFORGE.GENERATE.generators'}}</p>
  <div class="nf-tags" id="nameChangers"></div>
  {{/if}}
  <form id="nameforge">
    {{> 'Alvaro/modules/nameforge/templates/partials/generate-options.hbs'}}
    <div class="flexrow" id="actionButtons">
      <button name="generate">{{localize 'NAMEFORGE.BUTTON.generate'}}</button>
      {{#if actor}}
      <button name="add">{{localize 'NAMEFORGE.BUTTON.add'}}</button>
      {{/if}}
    </div>
  </form>
  {{#if actor}}
  <p name="original">{{localize 'NAMEFORGE.GENERATE.originalName'}}</p>
  {{/if}}
  <p>{{localize 'NAMEFORGE.GENERATE.namesList'}}</p>
  <div class="nf-tags" id="names"></div>
</div>